.env/
src/python/__pycache__/
# compiled tools
src/cpg2bed/add_loci
src/cview/cview
src/cview/cview.o
src/homog/homog
src/homog/homog.o
src/pat2beta/mask_pat
src/pat2beta/mask_pat.o
src/pat2beta/stdin2beta
src/pat_sampler/pat_sampler
src/pipeline_wgbs/add_cpg_counts
src/pipeline_wgbs/add_cpg_counts.o
src/pipeline_wgbs/blueprint/patter
src/pipeline_wgbs/main.o
src/pipeline_wgbs/match_maker
src/pipeline_wgbs/ont.o
src/pipeline_wgbs/patter
src/pipeline_wgbs/patter.o
src/pipeline_wgbs/patter_utils.o
src/pipeline_wgbs/snp_patter
src/pipeline_wgbs/snp_patter.o
src/segment_betas/segmentor
references/
scratch
